div{
    color: aliceblue;
    background-color: red;  /* Color Name */
    background-color: rgb(0 255 0 /50%); /* Red Green Blue Alpha_Channel*/
    background-color: #ff0000; /* Color Hex Code */
    background-image: url("../Images/OIP\ \(1\).jpg");
    background-repeat: repeat;
    background-repeat: repeat-x;
    background-repeat: repeat-y;
    background-repeat: no-repeat;
}