p{
    background-color:#eee;
    padding: 10px;
    font-size: large;
    color: purple;
    letter-spacing: 2px;
    word-spacing: 10px;
    text-indent: 50px;
}

div{
    background-color:#eee;
    padding: 10px;
    font-size: large;
    color: purple;
    width: 395px;
    line-height: 1.6 or 1.7;
    white-space: nowrap;
    word-break: break-word;
}