ul{
    list-style-type: square;
    list-style-position: outside;
}

li{
    background-color: #EEE;
    margin-bottom: 10px;
}

.name li{
    background-color: aqua;
    margin-bottom: 10px;
    padding: 10px;
    list-style-image: url(../Images/external-small-gears-and-cogs-soft-fill-soft-fill-juicy-fish.png);
}