/*
  Grid
  Parent
  - display: grid | inline-grid
  - grid-template-columns: [Number Of Columns In] => [Px, %, Auto, Repeat]
*/

*{
    box-sizing: border-box;
}

.parent{
    background-color: #eee;
    width: 800px;
    height: 700px;
    margin: 20px auto;
    display: grid;
    /* grid-template-columns: 25% 50% 25%; */
    /* grid-template-columns: 200px 400px 200px; */
    /* grid-template-columns: auto auto auto auto auto; */
    /* grid-template-columns: repeat(5 , auto); */
    /* grid-template-columns: 100px repeat(3 , 100px) 100px auto; */
    /* grid-template-columns: 100px 100px 1fr 2fr; */
    grid-template-columns: auto auto 1fr 1fr;
}

.parent div{
    background-color: red;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
}