/*
  CSS Selectors
  - Element + Other Element => [div + p]
  - Element ~ Other Elements => [p ~ div]
  - [Attribute]
  - Element[Attribute]
  - [Attribute=Value]
  - Element[Attribute=Value] => input[type="submit"]
  - [Attribute~=Value] => Contains A Word
  - [Attribute*=Value] => Contains A Atring
  - [Attribute^=Value] => Start With A String
*/


* {
    box-sizing: border-box;
    margin: 0;
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
  }

div+p{
    background-color: red;
    color: white;
    padding: 20px;
}

h2 ~ div{
    color: blue;
}

[title]{
    background-color: black;
    color: white;
    padding: 10;
}

h3[title]{
    background-color: purple;
    color: yellow;
    padding: 10px;
}

h2[title="select"]{
    background-color: green;
    padding: 10px;
    color: maroon;
}

input[type="search"]{
    background-color: aqua;
    border: 5px solid green;
}

div[title~="div"]{
    color: green;
}

div[title*="sq"]{
    background-color: lightcoral;
    color: darkblue;
    padding: 10px;
}

div[title^="H7"]{
    background-color: darkolivegreen;
    padding: 10px;
}