/*
- Animation
*/

*{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

div{
    background-color: rgba(223, 232, 230, 0.418);
    width: 200px;
    height: 200px;
    margin: 40px auto;
    position: absolute;
    left: 50%;
    top: 50%;
    color: white;
    margin-left: -50px;
    margin-top: -50px;
    animation-name: spin;
    animation-duration: 6s;
    border-radius: 50%;
    border: 5px solid red;
    border-left-color: transparent;
    /* animation-iteration-count: infinite; */
    animation-iteration-count: 2;
    animation-timing-function: ease;
}

@keyframes spin{
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(1turn);
    }
}

